#root{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    
}

.page{
    border: solid rgb(67, 166, 115);
}

.subtitle{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}